<article>
  <header>
    <h3>{{title}}</h3>

    {{#if data.author}}
    <p>
      {{#if data.author_link}}
      <small>// Written by <a href="{{data.author_link}}">{{data.author}}</a></small>
      {{else}}
      <small>// Written by {{data.author}}</small>
      {{/if}}
    </p>
    {{/if}}

    {{#if date_published}}
    <p><small>// {{date_published}}</small></p>
    {{/if}}

    {{#if cover}}
    <div class="post-cover" style="background-image: url({{cover}});" alt="{{title}}" />
    {{/if}}
  </header>

  {{{body}}}

  {{#if some_data}}
  <footer><small>
      {{some_data}}
    </small></footer>
  {{/if}}
</article>