<article>
  <header>
    <h3>{{data.title}}</h3>

    {{#if data.date_published}}
    <p>{{format-date data.date_published "%a, %b %e %Y"}}{{#if data.author}} :: {{#if data.author_link}}<a href="{{data.author_link}}">{{data.author}}</a>{{else}}{{data.author}}{{/if}}{{/if}}</p>
    {{/if}}

    {{#if data.cover}}
    <div class="post-cover" style="background-image: url({{data.cover}});" />
    {{/if}}
  </header>

  {{{body}}}

</article>

<script async src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script async src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>