<article>
  <header>
    <h3>{{data.title}}</h3>

    {{#if data.author}}
    <p>
      {{#if data.author_link}}
      <small>// Written by <a href="{{data.author_link}}">{{data.author}}</a></small>
      {{else}}
      <small>// Written by {{data.author}}</small>
      {{/if}}
    </p>
    {{/if}}

    {{#if data.date_published}}
    <p><small>// {{format-date data.date_published "%a, %b %e %Y"}}</small></p>
    {{/if}}

    {{#if data.cover}}
    <div class="post-cover" style="background-image: url({{data.cover}});" />
    {{/if}}
  </header>

  {{{body}}}

  <footer>
    {{#if data.author}}
    <p>
      {{#if data.author_link}}
      <small>// Find me on Twitter/X <a href="{{data.author_link}}">@arjunz</a></small>
      {{/if}}
    </p>
    {{/if}}
  </footer>
</article>

<script async src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script async src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>